body {
    background-color: rgb(12, 12, 12);
    color: white;
}

.inputCard {
    display: flex;
    align-items: center;
    height: 50px;
    width: 400px;
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    margin: 15px;
}

label {
    margin: 7px;
    margin-right: 18px;
    font-weight: 500;
    color: rgb(214, 214, 214);
}

input {
    height: 25px;
    border-radius: 7px;
    border: 0px;
    background-color: rgb(29, 29, 29);
    color: white;
}

.error {
    background-color: rgb(255, 68, 68);
    color: white;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
}

label {
    width: 120px;
    text-align: center;
}